<div class="nav_container">
    <div class="navbar">

        <div id=site_title><a href="/"><h2>Operating-Potato's website</h2></a></div>

        <a href="/" class="navlink"><div class="box" id="home">
            <p id="screen-wide"><b>Home… and birds?</b></p>
            <p id="screen-narrow"><b>Birds</b></p>
        </div></a>
        <a href="/games/" class="navlink"><div class="box" id="games">
            <p>Games</p>
        </div></a>
        <a href="/pics/" class="navlink"><div class="box" id="photos">
            <p>Pics</p>
        </div></a>
        <a href="/articles/" class="navlink"><div class="box" id="article">
            <p>Articles</p>
        </div></a>
        <a href="/aquarium/" class="navlink"><div class="box" id="aquarium">
            <p>Aquarium</p>
        </div></a>
        <a href="/settings/" class="navlink"><div class="box" id="settings">
            <p>Settings</p>
        </div></a>
    </div>
</div>