---
---

@import "minima";
@import url(styles/page-images.css);

body {
    font-family: serif;
    background-color: #f3f3f3;
    background-image: url("/birds/assets/bgtile.png");
    background-repeat: repeat;
    background-size: 500px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
hr {
    border-top: 1px solid;
    border-radius: 5px;
}
.main {
    box-sizing: border-box;
    min-height: 100% !important;
}
.page-content {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    position: static;
}

.wrapper {
    box-sizing: border-box !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 30px;
    background-color: #f0ece1;
    min-height: 100lvh;
}

/*header*/
.site-header {
    background-color: #19798a;
    background-image: linear-gradient(45deg, black, transparent);
    border-color: teal;
    border-bottom: none;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0,0,0,0.2) 0 5px 5px;
    font-family: monospace;
}
.site-title {color: white !important;}
.site-subtitle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    h3 {
        width: fit-content;
    }
}

a.page-link {
    background-color: white !important;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

@media only screen and (max-width: 600px) {
    a.page-link {border: none;}
}

.post-title {
    line-height: 1.3em;
}

/*footer*/
.site-footer {
    border-top: none;
    border-radius: 10px 10px 0 0;
    background-color: #f5f5f5;
    box-shadow: rgba(0,0,0,0.2) inset 0 5px 5px;
}

/*ToC*/
details {
    border-radius: 5px;
    padding: 0.5em 0.5em 0;
    background-color: #f9f7ef;
    box-shadow: 0 3px 3px rgb(191, 187, 175);
    border-width: 0 1px 3px 1px;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    border-radius: 4px 4px 2px 2px;
    background-color: #ded6c4;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0.5em;
}

/*images*/
#coolbird {
    border-radius: 10px;
    position: static;
    margin: 30px 0 20px 0;
    transition: transform 1s;
    position: relative;
}

#coolbird:hover {
    transform: rotate(360deg) scale(1.2);
}

.minibird {
        position: relative;
        width: 100px;
        height: auto;
        margin: 0 10px 0 0;
        image-rendering: pixelated;
        float: left !important;
}

@media only screen and (max-width: 600px) {
    .page-photo {
        width: 100%;
        max-height: 300px;
        object-fit: cover;

        float: none;
        margin: 10px 0 20px 0;
    }
    .full-height {
        max-height: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #151515;
    }
    .wrapper {
        background-color: #353535;
        color: white;

        a {
            color: rgb(126, 184, 255);
        }
    }

    details {
        background-color: #585858;
        box-shadow: 0 3px 3px #292929;
    }
    summary {
        background-color: rgb(71, 71, 71);
    }
}
