@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url(/assets/navbar/page_highlights/home.css);
:root {
    --sidebar-colour: rgba(211,211,211,0.7);
    --sidebar-gradient: linear-gradient(rgba(230,230,230,0.5), rgba(150,150,150,0.5));
    --text-colour: rgb(50,50,50);
    --title-colour: blue;
}



/*padding for rest of page*/
.page-content {
    --bottom-margin: 0px;
    margin-left: 220px;
    margin-right: 20px;
}

.wrapper {padding-bottom: var(--bottom-margin);}



/*navigation bar*/


.nav_container {
    z-index: 200;

    flex-flow: column;

    margin: 0px 10px 0px 0px;

    display:flex;
    position: fixed;
    bottom:0;
    left:0;
    width: 200px;
    height: 100dvh;
    flex-wrap: nowrap;


    background-color: var(--sidebar-colour);
    background-image: var(--sidebar-gradient);


    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    border-radius: 0 20px 20px 0;
    font-family: "Noto Sans Mono" !important;
    font-size: 12px;

    overflow-y: hidden;
}
.navbar {
    align-content: flex-start;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    top:0;
    max-width:200px;
    height: 100%;
    overflow-y: auto;
}

.box {
    align-content: center;
    height: 50px;
    max-width: 200px;
    padding-top: 0%;
    padding-left:2em;
    text-align: start;

    p {margin:0;}
}

a.navlink {
    text-decoration: none !important;
    color: var(--text-colour);
}

#site_title {
    padding: 35px 20px 20px 20px;
    line-height: normal;
    h2 {font-weight: bold;}
}

#site_title a {
    color: var(--title-colour);
    text-decoration: none;
}

.sublink_container {
    display:flex;
    flex-flow:column;
    padding-bottom:10px;
}

#sublink {
    min-height:25px;
    max-width:200px;
    padding-left:3em;
    padding-bottom:0;
    padding-top:0;
    align-content: center;

}

#sublink:hover {font-weight:bold;}

#screen-narrow {display:none;}


@media only screen and (max-width: 720px) {
    .page-content {
        --bottom-margin: 65px;

        margin-left: 0;
        margin-right:0;
    }
    .nav_container {
        position: fixed;
        flex-flow:row;
        bottom:0;
        left:0;
        width:100%;
        height:55px;
        overflow-x: scroll;
        border-radius: 20px 20px 0 0;
        margin:0;
    }
    .navbar {
        flex-flow:row;
        flex-wrap:nowrap;
        flex-shrink:0;
        top:0;
        width:100% !important;
        max-width:none;
    }
    .box {
        width: fit-content;
        text-align: center;
        padding: 0 10px 5px 10px;
    }

    #sublink {display:none;}
    #site_title {display:none;}
    #sublink_container {display:none;}

    #screen-wide {display:none;}
    #screen-narrow {display:block;}
}



@media only screen and (max-width: 323px) {
    .navbar {
        justify-content: flex-start;
    }
}


/*dark mode*/
@media (prefers-color-scheme: dark) {
    :root {
        --sidebar-colour: rgba(0,0,0,0.7);
        --sidebar-gradient: linear-gradient(rgba(80,80,80,0.5), rgba(0,0,0,0.5));
        --text-colour: white;
        --title-colour: #d4d3ff;
    }
}



#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/home_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

            #games:hover {
                background-image: 
                    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                    url("/assets/navbar/games_navbar.png");
                background-color: white;
                background-size: cover;
                background-position: center;
                color: white;
            }

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/photos_navbar.jpg");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#article:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/assets/navbar/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/aquarium_navbar.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    color: white;
}

#settings:hover {
    background-color: rgb(25, 25, 30);
    color:white;
}
